@import url("https://fonts.cdnfonts.com/css/nexa-bold");
@import url("https://fonts.cdnfonts.com/css/times-new-roman");
@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto+Flex:opsz,wght@8..144,100..1000&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

:root {
  --primary-color: #f06c22;
  --secondary-color: #1297da;
  --yellow: #ffc044;
}

html {
  scroll-behavior: smooth;
}

body {
  padding-top: 76px;
  font-family: "Montserrat";
}

.min-height {
  min-height: calc(100vh - 76px);
}

#form-search {
  position: relative;
  top: -75px;
}

.form-check-input {
  padding: 10px !important;
}

.form-control:focus,
select:focus,
.accordion-button:focus,
.form-check-input:focus,
.page-link:focus {
  outline: none !important;
  box-shadow: none !important;
}

.navbar {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  position: fixed !important;
  top: 0;
  left: 0;
  z-index: 1;
  width: 100%;
}

.navbar-nav .nav-link {
  color: #c4c4c4 !important;
  font-weight: 700;
  font-size: 20px;
}

.navbar-nav .nav-link:hover,
.navbar-nav .nav-link.active {
  color: #000000 !important;
}

.form-search {
  font-family: "Montserrat";
  font-size: 20px;
  font-weight: 500;
}

.form-search input,
.form-search input:focus {
  border-top-left-radius: 25px;
  border-bottom-left-radius: 25px;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  border: solid 1px #595959;
  border-right: none;
  padding: 0.375rem 20px;
}

.form-search .btn,
.form-search .btn:hover,
.form-search .btn:focus {
  background: #fb9f2e !important;
  border: solid 1px #595959 !important;
  border-left: none !important;
  color: #ffffff !important;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  border-top-right-radius: 25px;
  border-bottom-right-radius: 25px;
}

.navbar-toggler,
.navbar-toggler .btn:hover,
.navbar-toggler .btn:focus {
  color: #016da1 !important;
  border: none !important;
  box-shadow: none !important;
}

.ratio-hero {
  aspect-ratio: 1920 / 774;
}

.card-search {
  border: none !important;
  background: none !important;
  margin-top: 60px !important;
}

.card-search .card-body {
  color: #ffffff;
  background: linear-gradient(90deg, #feb933 0%, #f36d24 100%);
  border-radius: 31px;
}

.card-search .card-body .card-search-inner {
  position: relative;
  z-index: 1;
}

.card-search .card-body .title {
  font-size: 30px;
  font-weight: 700;
  font-family: "Montserrat";
}

.card-search .card-body .subtitle {
  font-family: "Montserrat";
  font-style: italic;
  font-size: 20px;
  font-weight: 500;
}

.card-search .card-body .form-search {
  font-family: "Montserrat";
  color: var(--primary-color) !important;
  width: 50%;
  margin: auto;
}

.card-search .card-body .form-search input {
  font-family: "Montserrat";
  font-size: 15px;
  font-weight: 500;
  color: #ffffff;
  text-align: center;
  border-radius: 20px;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  border: solid 2px #ffffff;
  border-right: none;
  background: none;
}

.card-search .card-body .form-search input::placeholder {
  color: #eeeeee;
}

.card-search .card-body .form-search input:focus {
  border: solid 2px #ffffff;
  border-right: none;
}

.card-search .card-body .form-search .btn,
.card-search .card-body .form-search .btn:hover,
.card-search .card-body .form-search .btn:focus {
  background: #ffffff;
  border: solid 2px #ffffff !important;
  color: var(--primary-color) !important;
  border-radius: 20px;
  border-left: none !important;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

.card-search .card-body .specialist {
  font-family: "Inter", sans-serif;
  font-weight: normal;
}

.card-search .card-body .specialist .badge {
  color: #7b7676;
  background: #ffffff;
  margin-right: 10px;
  margin-bottom: 10px;
  border: none;
  font-size: 14px;
  cursor: default !important;
}

.card-search .card-body .specialist .badge.active {
  color: #ffffff;
  background: #1297da;
}

.card-coach {
  font-family: "Montserrat";
  position: relative;
  background: linear-gradient(90deg, #feb933 0%, #f36d24 100%);
  border: none;
  border-top-left-radius: 60px !important;
  border-top-right-radius: 0px !important;
  border-bottom-left-radius: 0px !important;
  border-bottom-right-radius: 60px !important;
  padding: ;
}

.card-coach .card-body {
  background: #ffffff;
  border-top-left-radius: 60px !important;
  border-top-right-radius: 0px !important;
  border-bottom-left-radius: 0px !important;
  border-bottom-right-radius: 60px !important;
}

.card-coach .experience {
  background: linear-gradient(180deg, #feb933 0%, #fb9f2e 100%);
  color: #ffffff;
  font-size: 12px;
  font-weight: 700;
  position: absolute;
  top: 0;
  right: 0;
  padding: 5px 10px;
  border-bottom-left-radius: 10px;
}

.card-coach .experience svg {
  position: relative;
  top: -2px;
  margin-right: 5px;
}

.card-coach .main-info {
  margin-top: 20px;
  margin-bottom: 20px;
  align-items: center;
}

.card-coach .main-info .avatar {
  width: 100%;
  margin: auto;
}

.card-coach .main-info .name {
  font-size: 16px;
  line-height: 20px;
  font-weight: 700;
  margin-bottom: 10px;
  color: #595959;
}

.card-coach .info {
  font-size: 12px;
  font-weight: 500;
  color: #000000;
  margin-bottom: 20px;
}

.card-coach .info .col-6:nth-child(odd) {
  border-right: solid 1px #000000;
}

.card-coach .info .col-6:nth-child(even) {
  position: relative;
  left: -1px;
  border-left: solid 1px #000000;
}

.card-coach .info svg,
.other-info .info-item svg {
  position: relative;
  top: -2px;
  margin-right: 4px;
}

.card-coach .info .item-sep {
  display: inline-block;
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background: #57585c;
  margin: 0 10px;
  position: relative;
  top: -2px;
}

.card-coach .card-body .specialist {
  padding-bottom: 60px;
}

.card-coach .card-body .specialist .badge {
  color: #000000;
  background: #d9d9d9;
  margin-right: 10px;
  margin-bottom: 10px;
  padding: 5px 20px;
  font-size: 12px;
  font-weight: 500;
  cursor: default !important;
}

.btn-profile-container {
  position: absolute;
  width: 100%;
  left: 0;
  bottom: 20px;
}

.btn-profile {
  background: linear-gradient(90deg, #feb933 0%, #fb9f2e 100%) !important;
  color: #ffffff !important;
  border-radius: 10px !important;
  padding: 5px 60px !important;
  bottom: 20px;
  font-size: 12px;
  font-weight: 700;
}

.btn-white {
  background: #ffffff;
  color: var(--primary-color);
  border-radius: 10px;
  padding: 8px 15px;
  cursor: pointer;
  font-family: "Roboto Flex", sans-serif;
  font-weight: 600;
  font-size: 14px;
}

.swiper {
  padding-bottom: 20px !important;
}

.swiper-pagination {
  bottom: 10px !important;
}

.swiper-pagination-bullet {
  width: 15px !important;
  height: 15px !important;
}

.swiper-pagination-bullet-active {
  background: #fb9f2e !important;
}

.container-swiper {
  position: relative;
}

.swiper-button-prev-custom.swiper-button-disabled,
.swiper-button-next-custom.swiper-button-disabled {
  opacity: 0.35;
  cursor: auto;
  pointer-events: none;
}

.swiper-button-prev-custom,
.swiper-button-next-custom {
  position: absolute;
  top: var(--swiper-navigation-top-offset, 45%);
  width: calc(var(--swiper-navigation-size) / 44 * 27);
  height: var(--swiper-navigation-size);
  margin-top: calc(0px - (var(--swiper-navigation-size) / 2));
  z-index: 10;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fb9f2e;
}

.swiper-button-prev-custom {
  left: -40px;
}

.swiper-button-next-custom {
  right: -40px;
}

.swiper-button-prev-custom::after,
.swiper-button-next-custom::after {
  font-family: swiper-icons;
  font-size: 60px;
  text-transform: none !important;
  letter-spacing: 0;
  font-variant: initial;
  line-height: 1;
}

.swiper-button-prev-custom:after,
.swiper-rtl .swiper-button-next-custom:after {
  content: "prev";
}

.swiper-button-next-custom:after,
.swiper-rtl .swiper-button-prev-custom:after {
  content: "next";
}

.footer {
  font-family: "Montserrat", sans-serif;
}

.footer p {
  margin: 0;
}

.footer-top {
  background: #f36d24;
  color: #ffffff;
}

.footer-top .footer-top-inner .container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 40px;
  align-items: center;
  padding: 40px;
}

.footer-top .footer-top-inner .container .footer-top-left .sosmed {
  margin-top: 30px;
}

.footer-top .footer-top-inner .container .footer-top-left .sosmed a {
  background: #ffffff;
  border-radius: 50%;
  padding: 12px 10px;
  margin-right: 10px;
  color: var(--primary-color);
}

.footer-top .footer-top-inner .container .footer-top-left .sosmed a:last-child {
  margin-right: 0;
}

.footer-top .footer-top-inner .container .footer-top-right .title {
  font-size: 24px;
  font-weight: 700;
  margin-bottom: 10px;
}

.footer-top .footer-top-inner .container .footer-top-right .address {
  font-size: 15px;
  font-weight: 500;
  margin-bottom: 10px;
}

.footer-top .footer-top-inner .container .footer-top-right .other-link,
.footer-top .footer-top-inner .container .footer-top-right .other-link a {
  font-size: 15px;
  font-weight: 500;
  color: #ffffff;
  text-decoration: none;
}

.footer-bottom {
  color: #000000;
  padding: 10px;
  font-size: 15px;
  font-weight: 500;
}

.filter-search .form-select {
  cursor: pointer;
  border: solid 1px #000000 !important;
  border-radius: 20px !important;
  border-right: none !important;
  border-top-right-radius: 0 !important;
  border-bottom-right-radius: 0 !important;
  /* --bs-form-select-bg-img: url("data: image/svg+xml, <svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' ><path fill='none' stroke='%23F06C22' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='m2 5 6 6 6-6' /></svg>") !important; */
  --bs-form-select-bg-img: none !important;
  font-family: "Montserrat";
  font-size: 20px;
  font-weight: 600;
}

.filter-search .form-select option {
  color: #c4c4c4;
}

.filter-search .btn,
.filter-search .btn:hover {
  color: #ffffff;
  background: #fb9f2e;
  border: solid 1px #000000 !important;
  border-radius: 20px !important;
  border-left: none !important;
  border-top-left-radius: 0 !important;
  border-bottom-left-radius: 0 !important;
}

.filter-search .btn svg {
  position: relative;
  top: -1px;
}

.breadcrumb {
  font-family: "Montserrat";
}

.breadcrumb-item + .breadcrumb-item::before {
  position: relative;
  top: 4px;
}

.breadcrumb a {
  color: #000000;
  text-decoration: none;
  font-size: 20px;
  font-weight: 700;
}

.breadcrumb a svg {
  position: relative;
  top: -2px;
}

.breadcrumb a:hover,
.breadcrumb a.active {
  font-weight: bold;
}

.page-search .info {
  font-family: "Montserrat";
}

.page-search .info .title {
  color: #f36d24;
  font-weight: 700;
  font-size: 30px;
}

.page-search .info .subtitle {
  font-size: 20px;
  font-weight: 500;
  color: #000000;
}

.page-search .search-result {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 20px;
}

.page-coach .photo {
  width: 200px;
  margin: auto;
  margin-bottom: 20px;
}

.page-coach .name {
  font-family: "Montserrat";
  font-size: 32px;
  font-weight: 700;
  line-height: 48px;
  color: #f36d24;
  margin-bottom: 20px;
}

.page-coach .certificate {
  margin-bottom: 20px;
}

.page-coach .text {
  margin-bottom: 10px;
  font-family: "Montserrat";
  font-size: 14px;
  font-weight: 400;
  color: #000000;
}

.page-coach .subtitle {
  margin-bottom: 10px;
  font-family: "Montserrat";
  font-size: 20px;
  font-weight: 700;
  color: #f36d24;
}

.page-coach .specialist,
.page-coach .share {
  margin-bottom: 25px;
  background: none;
  border: none;
}

.page-coach .specialist .badge {
  color: #000000;
  background: #d9d9d9;
  border: none;
  padding: 5px 20px;
  display: block !important;
  margin-bottom: 5px;
  cursor: default !important;
}

.page-coach .specialist .badge:last-child {
  margin-right: 0;
}

.page-coach .share {
  color: var(--primary-color);
  cursor: pointer;
}

.page-coach .share svg {
  margin-left: 5px;
  position: relative;
  top: -2px;
}

.page-coach .description {
  text-align: left;
}

.page-coach .description .text {
  color: #57585c;
}

.page-coach .other-info .item-sep {
  display: inline-block;
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background: #57585c;
  margin: 0 10px;
  position: relative;
  top: -2px;
}

.page-coach .other-info .price {
  font-weight: bold;
}

.page-coach .description .title {
  color: var(--primary-color);
  font-size: 20px;
  font-weight: bold;
}

.page-coach .other-info {
  margin-bottom: 20px;
  font-family: "Montserrat" !important;
  font-size: 14px;
  font-weight: 500;
  color: #000000;
}

.font-weight-bold {
  font-weight: 700;
}

.page-coach .client-type ul {
  padding-left: 20px;
}

.page-coach .contact a {
  color: #000000;
  display: inline-block;
  margin-right: 5px;
  text-decoration: none;
}

.page-coach .contact a:last-child {
  margin-right: 0 !important;
}

.language {
  margin-left: 20px;
  position: relative;
  top: -6px;
}

.language .language-item {
  height: 20px;
  box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.5);
  position: relative;
  top: -2px;
  opacity: 0.5;
  cursor: pointer;
}

.language .language-sep {
  display: inline-block;
  width: 1px;
  height: 32px;
  background: #595959;
  position: relative;
  top: 10px;
  margin: 0 12px !important;
}

.language .language-item:hover,
.language .language-item.active {
  opacity: 1;
}

.toast-container {
  top: 80px !important;
  opacity: 0.9;
}

.toast .toast-body {
  background: var(--primary-color);
  color: #ffffff;
  border-radius: 5px;
  box-shadow: 0px 0px 3px rgba(255, 255, 255, 0.5);
  position: relative;
}

.offcanvas {
  max-height: 90vh !important;
  min-height: 30vh !important;
  height: auto !important;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}

.accordion-button {
  font-weight: bold;
}

.accordion-button:not(.collapsed) {
  background: none !important;
  box-shadow: none !important;
}

.accordion-button::after {
  background-image: url("data: image/svg+xml, <svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='none' stroke='%23F06C22' stroke-linecap='round' stroke-linejoin='round' ><path d='M2 5L8 11L14 5' /></svg>") !important;
}

.accordion-item {
  margin-bottom: 20px;
  border: solid 2px #ededed !important;
  border-radius: 10px !important;
}

.accordion-header,
.accordion-button {
  border-radius: 10px !important;
}

.page-search .form-search input[type="text"] {
  font-family: "Montserrat";
  border: solid 1px #595959 !important;
  border-radius: 20px !important;
  font-size: 20px;
  font-weight: 500;
}

.page-search .form-search {
  position: relative;
  padding-bottom: 40px;
}

.page-search .form-search .btn {
  position: absolute;
  top: 1px;
  right: 1px;
  padding: 9px 18px;
  border: none !important;
}

.page-search .offcanvas-header .text-reset {
  color: var(--primary-color) !important;
  cursor: pointer;
  font-weight: bold;
  background: none;
  border: none;
}

.page-search .form-search .accordion {
  padding-bottom: 20px;
}

.page-search .form-search .button-submit {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 20px;
  background: #ffffff;
  z-index: 999999999999;
}

.page-search .form-search .button-submit button[type="submit"] {
  background: #f5ba41;
  border: solid 1px #f5ba41;
  color: #252528;
  border-radius: 20px;
  width: 100%;
  font-weight: bold;
}

.form-check {
  margin-bottom: 10px !important;
}

.form-check-input {
  width: 20px !important;
  height: 20px !important;
  border: solid 2px #e2e2e2 !important;
  margin-right: 5px;
  cursor: pointer;
}

.form-check-input:checked {
  background-color: var(--primary-color) !important;
  border: solid 2px var(--primary-color) !important;
}

.form-check-label {
  position: relative;
  top: 3px;
  left: 5px;
  cursor: pointer;
  font-family: "Montserrat";
  font-size: 20px;
  font-weight: 500;
  color: #000000;
}

.page-link {
  cursor: pointer;
  font-family: "Montserrat";
  font-size: 20px;
  font-weight: 700;
  color: #000000 !important;
  border: solid 1px #fb9f2e !important;
  padding: 5px 15px !important;
}

.list-client-type {
  padding-left: 15px;
}

.page-link.active {
  background: #fb9f2e !important;
  color: #ffffff !important;
  border-color: #fb9f2e !important;
}

.cropContainer {
  margin: auto;
  position: relative;
  width: 300px;
  height: 300px;
}

.croppedImageContainer img {
  display: block;
  margin: auto;
  width: 150px;
  height: 150px;
  border-radius: 50%;
}

.ck-content {
  height: 200px;
}

.btn-submit {
  width: 100%;
}

.swiper-slide {
  align-self: stretch;
  height: auto !important;
}

.about-us {
  background: #f8f8f8;
}

.about-us .about-left img {
  display: block;
  width: 80%;
  height: auto;
}

.about-us .about-left .info {
  font-family: "Montserrat";
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
  color: #1199dc;
}

.about-us .about-right .logo {
  width: 200px;
  height: auto;
  margin-bottom: 10px;
}

.about-us .about-right .header {
  font-family: "Montserrat";
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  color: #595959;
  padding: 0 100px;
}

.about-us .about-right .footer a {
  text-decoration: none;
  display: inline-block;
  margin: auto;
}

.about-us .about-right .feature {
  font-family: "Montserrat";
  font-size: 15px;
  font-weight: 500;
  color: #595959;
}

.about-us .about-right .feature .feature-item {
  border-radius: 40px;
  background: linear-gradient(90deg, #feb933 0%, #f36d24 100%);
  padding: 3px;
}

.about-us .about-right .feature .feature-item .col-10 {
  display: flex;
  align-items: center;
}

.about-us .about-right .feature .feature-item .row {
  background: #ffffff;
  width: 100%;
  margin: auto;
  border-radius: 40px;
  padding: 10px;
  font-size: 13px;
  line-height: 16px;
  font-weight: 400;
}

.about-us .about-right .feature .feature-item .row .col-2 {
  display: flex;
  align-items: center;
  justify-content: center;
}

.about-us .footer {
  padding: 24px;
  background: linear-gradient(
    90.95deg,
    #feba34 3.25%,
    rgba(255, 126, 54, 0.92) 91.4%
  );
  border: 1px solid #ffc044;
  border-radius: 20px;
  color: #ffffff;
  font-family: "Inter", sans-serif;
}

.about-us .footer .title {
  font-family: "Montserrat";
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  color: #ffffff;
}

.about-us .footer .body {
  font-family: "Montserrat";
  font-weight: 500;
  font-size: 15px;
  line-height: 20px;
  width: 65%;
  margin: auto;
}

.about-us .footer a {
  text-decoration: none;
}

.about-us .footer a div {
  display: table;
  margin: auto;
  font-family: "Montserrat";
  font-weight: 700;
  font-size: 21px;
  color: #fb9f2e;
  background: #ffffff;
  border-radius: 30px;
  padding: 10px 40px;
  margin-top: 20px;
}

.offcanvas-title {
  font-family: "Montserrat";
  font-weight: 700;
  font-size: 24px;
  color: #000000;
}

.accordion-button {
  font-family: "Montserrat";
  font-weight: 700;
  font-size: 20px !important;
  color: #000000;
}

.page-coach .row {
  margin-bottom: 50px;
}

.page-coach .col-md-3 {
  border-right: solid 1px #000000;
}

.page-coach .col-md-9 {
  position: relative;
  left: -1px;
  border-left: solid 1px #000000;
}

@media (max-width: 768px) {
  .swiper-button-prev-custom,
  .swiper-button-next-custom {
    display: none !important;
  }

  .page-coach .name,
  .page-coach .certificate,
  .page-coach .other-info,
  .page-coach .contact {
    text-align: center !important;
  }

  .page-coach .specialist .badge {
    margin-left: auto !important;
    margin-right: auto !important;
  }

  .page-coach li {
    list-style: none !important;
  }

  .page-coach .col-12 {
    text-align: center !important;
    border: none !important;
  }

  .page-coach .name {
    text-align: ;
  }

  .page-coach .col-12 {
    border-right: none !important;
  }

  .page-coach .col-12:first-child {
    padding-bottom: 20px;
    margin-bottom: 20px;
    border-bottom: solid 1px #000000 !important;
  }

  .min-height {
    min-height: calc(100vh - 77px);
  }

  .ratio-hero {
    aspect-ratio: 360 / 183;
  }

  .card-search .card-body .form-search {
    width: 100%;
  }

  .card-search .card-body .specialist .badge,
  .card-coach .card-body .specialist .badge {
    padding: 10px;
  }

  .footer-top .footer-top-inner .container {
    display: block;
    padding: 20px;
  }

  .footer-top .footer-top-inner .container .footer-top-left .sosmed {
    margin-top: 20px;
  }

  .footer-top .footer-top-inner .container .footer-top-left {
    margin-bottom: 40px;
  }

  .page-search .search-result {
    grid-template-columns: 1fr;
  }

  .language {
    margin: 10px 0;
    text-align: center;
    top: 0px;
  }

  .language .language-item {
    height: 40px;
    box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.5);
    position: relative;
    top: -2px;
    opacity: 0.5;
    cursor: pointer;
  }

  .language .language-sep {
    display: inline-block;
    width: 2px;
    height: 44px;
    background: #000;
    position: relative;
    top: 15px;
    margin: 0 20px !important;
  }
}
