@font-face {
  font-family: Circular;
  src: url("../public/fonts/Circular/CircularStd-Medium.otf");
}

body {
  font-family: Circular, sans-serif !important;
  background-color: #f8f9fa !important;
  color: hsl(201.8deg 24.4% 8.8%/1) !important;
  overflow: hidden;
}

.navbar-vertical .navbar-brand img {
  height: auto !important;
}

.navbar-brand {
  padding: 0 !important;
}

.nav-scroller {
  margin-bottom: 10px !important;
}

.navbar-vertical {
  position: static !important;
  margin-left: 0 !important;
  background-color: #f8f9fa !important;
  border-right: 1px solid #e6e8eb !important;
  width: 61px !important;
  overflow-y: auto;
}

.simplebar-content {
  padding: 10px !important;
}

.breadcrumb {
  position: relative;
  top: 8px !important;
}

.breadcrumb a {
  color: #11181c !important;
  font-weight: normal !important;
  font-size: 12px !important;
  padding: 10px 5px !important;
  border-radius: 5px !important;
}

.breadcrumb a:hover {
  background-color: #e6e8eb !important;
}

th {
  font-weight: normal !important;
  color: #000 !important;
}

td {
  font-size: 13px !important;
  color: #637381 !important;
}

#page-content {
  margin-left: 0px !important;
  width: calc(100% - 61px) !important;
}

.navbar-vertical .navbar-nav .nav-link {
  border-radius: 0.25rem !important;
  width: 2.5rem !important;
  height: 2.5rem !important;
  display: block !important;
  box-sizing: border-box !important;
  font-size: 18px !important;
  color: #919eab !important;
  margin-bottom: 5px !important;
  text-align: center !important;
}

.navbar-vertical .navbar-nav .nav-link.active,
.navbar-vertical .navbar-nav .nav-link:hover {
  background-color: #e6e8eb !important;
  color: #000 !important;
}

.navbar-divider {
  width: 100%;
  height: 1px;
  background-color: #e6e8eb;
}

.navbar-classic {
  box-shadow: none !important;
  background-color: #f8f9fa !important;
  border-bottom: 1px solid #e6e8eb !important;
}

.submenu {
  width: 200px;
  height: 100vh;
  background-color: #f8f9fa !important;
  border-right: 1px solid #e6e8eb !important;
}

.submenu-header {
  height: 40px;
  font-size: 16px !important;
}

.submenu-content,
.submenu-content a,
.submenu-content .accordion-flush .accordion-item .accordion-button {
  font-size: 12px !important;
}

.submenu-content a:hover,
.submenu-content .accordion-flush .accordion-item .accordion-button:hover,
.submenu-content
  .accordion-flush
  .accordion-item
  .accordion-button[aria-expanded="true"],
.submenu-content a.active {
  color: #000 !important;
}

.submenu-level1 a {
  padding: 0;
}

.submenu-content .list-group,
.submenu-content .list-group-item,
.submenu-content .accordion,
.submenu-content .accordion-item,
.submenu-content .accordion-button {
  background: none !important;
}

.submenu-content .list-group-item {
  border: none !important;
}

.submenu-content .accordion-body,
.submenu-content .accordion-button {
  padding: var(--bs-list-group-item-padding-y)
    var(--bs-list-group-item-padding-x) !important;
}

.submenu-content .accordion-button:focus,
.submenu-content .accordion-button:not(.collapsed) {
  border: none !important;
  background: none !important;
  box-shadow: none !important;
}

.submenu-content .accordion-button::after {
  width: 12px !important;
  height: 12px !important;
  background-size: 12px !important;
}

.simplebar-main {
  height: calc(100vh - 61px);
}

.pagination {
  text-align: center;
  width: 100%;
}

.pagination svg {
  margin-top: -5px;
  width: 18px;
  height: 18px;
}

.pagination,
.pagination .item,
.pagination .item::before {
  font-size: 16px !important;
  font-family: Segoe UI, sans-serif !important;
  background: none !important;
  border: none !important;
  box-shadow: none !important;
  color: #212121 !important;
  padding: 10px 15px !important;
  margin: 0px 2px !important;
  min-width: auto !important;
  cursor: pointer;
}

.pagination .item:hover,
.pagination .item.active {
  background: #624bff !important;
  color: #ffffff !important;
  border-radius: 5px !important;
}

:where(img, svg, video, canvas, audio, iframe, embed, object) {
  display: inline-block !important;
}

.pagination .item.icon:hover {
  background: none !important;
  color: #212121 !important;
}

.react-player {
  position: absolute;
  top: 0;
  left: 0;
}

.react-datepicker-wrapper {
  width: 100%;
}

::-webkit-scrollbar-track {
  background: rgba(0, 0, 0, 0.1);
  border-radius: 0;
}

::-webkit-scrollbar {
  -webkit-appearance: none;
  width: 10px;
  height: 10px;
}

::-webkit-scrollbar-thumb {
  cursor: pointer;
  border-radius: 5px;
  background: rgba(0, 0, 0, 0.25);
  -webkit-transition: color 0.2s ease;
  transition: color 0.2s ease;
}

.react-datepicker__triangle {
  left: -50% !important;
}

.cursor-pointer {
  cursor: pointer;
}

.table-detail thead td {
  color: #ffffff !important;
}

.cropContainer {
  margin: auto;
  position: relative;
  width: 300px;
  height: 300px;
}

.croppedImageContainer img {
  display: block;
  margin: auto;
  width: 100px;
  height: 100px;
  border-radius: 50%;
}

.ck-content {
  height: 200px;
}
